html, body, form
{
	direction: rtl;
}

.reBottomcell table
{
	float: left !important;
	margin: 4px 0 0 10px;
}

.rightAlignedInputLabel, .reToolbar
{
	float: right;
}

.reBottomcell table td
{
	padding-right: 4px;
}

.UploadPanel
{
	padding-right: 12px;
}

.filesize
{
	width: 70px;
}

.filemanagergrid td
{
	text-align: right;
}

.reBottomcell
{
	text-align: left;
}

.reBottomcell .radfdSkinnedFormButton, .reBottomcell .radfdSkinnedFormButton
{
	margin-left: 12px;
}

.ImageProperties .radfd_skipme, .TableWizard .radfd_skipme
{
	border-width: 1px !important;
	border-left: 0 !important;
}

.ConstrainProportions button
{
	background-position: 0 -732px;
}

.ConstrainProportions.toggle button
{
	background-position: -20px -732px;
}

.propertyLabel
{
	text-align: left !important;
}

.AboutDialog
{
	direction: ltr;
}

.imagePreviewer .RadTabStrip_rtl, .ManagerDialog .RadTabStrip_rtl, .LinkManager .rtsLevel.rtsLevel1
{
	direction: ltr !important;
}

.imagePreviewer .RadTabStrip_rtl .rtsUL, .ManagerDialog .RadTabStrip_rtl .rtsUL, .LinkManager .RadTabStrip_rtl .rtsUL
{
	position: relative !important;
	left: -10px;
}

.LinkManager .reDropdown
{
	position: relative;
	left: 130px;
}

.reControlsLayout
{
	/*width: 200px;*/
	direction: rtl !important;
	padding: 4px;
}

.reControlsLayout *
{
	direction: rtl;
}
.reSplitButton span
{
	float: right !important;
	margin-right: 2px !important;
}
.reToolWrapper .reDropdown
{
	background-position: -24px -360px !important;
}
.reToolWrapper .reDropdown:hover
{
	background-position: -1988px 0 !important;
}
.reToolWrapper .reDropdown span
{
	margin-left: 15px;
	text-align: right;
}
.reDropDownBody .reTlbVertical ul.reToolbar
{
	float: left !important;
}

.reSpinBox a
{
	font-size: 0 !important;
	text-indent: 0;
}

/*fixing right to left radeditor windows */
x:-moz-any-link, fieldset table
{
	direction: ltr !important;
}
x:-moz-any-link, fieldset table td
{
	direction: rtl !important;
}
x:-moz-any-link, fieldset legend
{
	margin-right: 5px;
}
x:-moz-any-link, .reTableWizardSpinBox a span, x:-moz-any-link, .reSpinBox a
{
	text-indent: 99999px;
}

* + html fieldset table
{
	direction: rtl;
}
* + html fieldset table td
{
	direction: ltr;
}
* + html fieldset legend
{
	margin-right: 5px;
}
* + html .reTableWizardSpinBox a span, * + html .reSpinBox a
{
	text-indent: -99999px;
}

